/* Footer area css
============================================================================================ */
// .footer_area {}

.footer_widgets_area {
  background: $dip;
  // padding: 70px 0px;

  &.footer_bg {
    background: linear-gradient(0deg, rgba(49, 53, 61, 0.96), rgba(49, 53, 61, .96)), url(../img/footer-bg.jpg) no-repeat scroll center center;
    background-size: cover;
  }
}

.footer_widgets_inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.f_w_title {
  padding-bottom: 30px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $pt;
    font-weight: bold;
    color: $baseColor;
  }
}

.f_widget {
  padding-top: 70px;
  padding-right: 10px;
  width: 220px;
  text-align: left;
  &:last-child{
    padding-right: 0;
  }
  &__social{
    display: flex;
  }
}

.about_widget {
  p {
    font-size: 15px;
    font-family: $open;
    color: $dw;
    line-height: 20px;
    padding: 13px 0px 17px 0px;
  }

  ul {
    li {
      display: inline-block;
      margin-right: 36px;

      a {
        font-size: 20px;
        color: $dw;
        @include transition;
      }

      &:first-child {
        &:hover {
          a {
            color: #4267b2;
          }
        }
      }

      &:nth-child(3) {
        &:hover {
          a {
            color: #db4437;
          }
        }
      }

      &:last-child {
        margin-right: 0px;

        &:hover {
          a {
            color: #bd081c;
          }
        }
      }

      &:hover {
        a {
          color: #00aced;
        }
      }
    }
  }
}

.recent_w_inner {
  .media {
    display: flex;
    margin-top: 15px;
    .media-left {
      padding-right: 10px;
    }

    .media-body {
      p {
        font-size: 15px;
        font-family: 600;
        font-family: $open;
        color: $dw;
        line-height: 20px;
      }
    }
  }
}

.address_w_inner {
  .media {
    // .media-left {
    //   padding-right: 10px;

    //   i {
    //     color: $dw;
    //   }
    // }

    .media-body {
      position: relative;
      padding-left: 25px;
      margin: 15px 0;
        &::before{
          content: "";
          position: absolute;          
          height: 14px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      &__address::before{
        width: 11px;
        background-image: url(../img/icons/map-marker.png);
      }
      &__phone::before{
        width: 14px;
        background-image: url(../img/icons/phone.png);
      }
      &__email::before{
        width: 14px;
        background-image: url(../img/icons/envelope-regular.png);
      }
      p {
        font-size: 15px;
        color: $dw;
        font-family: $open;
        line-height: 20px;       
      }
      
    }
  }
}

.give_us_widget {
  text-align: center;
  width: 285px;

  h5 {
    font-size: 24px;
    font-weight: normal;
    color: $baseColor;
    font-family: $open;
  }

  h4 {
    font-size: 32px;
    line-height: 40px;
    font-family: $open;
    font-weight: bold;
    color: $baseColor;
    padding: 23px 0px 12px 0px;
  }

  a {
    margin-top: 17px;
  }
}

.footer_copy_right {
  background: #262a31;
  padding: 41px 0px;
}

.copy_right_inner {
  display: flex;
  justify-content: space-between;

  h4 {
    color: $dw;
    font-size: 18px;
    font-weight: normal;
    font-family: $open;

    i {
      color: $baseColor;
    }

    a {
      color: $dw;
    }
  }
}


.footer_menu {
  padding: 0 10px;

  li {
    display: inline-block;
    margin-right: 25px;

    a, span {
      color: $gray;
      font-family: $open;
      font-size: 18px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &:hover,
    &.active {
      a, span {
        color: $baseColor;
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 992px) {
  .footer_widgets_inner{
    justify-content: center;
  }
  .f_widget{
    padding-right: 15px;
    padding-left: 15px;  
  }
  .recent_widget{
    margin: 0 auto;
    h5{
      margin-bottom: 0;
    }
  }
  .give_us_widget{
    padding-bottom: 70px;
  }
  .copy_right_inner {
    flex-direction: column;
    .pull-left{
      margin-bottom: 25px;
    }
  }
  .footer_menu {
    li {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}

@media(max-width: 767px) {
  .f_widget{
    width: 250px;
  }
  .recent_widget{
    margin: 0;
  }
  
}
@media(max-width: 575px) {
  .f_widget{
    padding: 70px 0 0;
    width: 100%;
  }
  .give_us_widget h4{
    max-width: 350px;
    margin: 0 auto;
  }
}




/* End Footer area css
============================================================================================ */