/* Header area css
============================================================================================ */
.main_header_area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 25;
  // &::before{
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 2;
  //   background-color: transparent;
  // }

  // &+section,
  // &+div,
  // &+.row {
  //   margin-top: 152px;


  &.navbar_fixed {
    .main_menu_area {
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      background: #1e2126;
      transform: translateY(70px);
      transition: transform 500ms ease, background 500ms ease;
      -webkit-transition: transform 500ms ease, background 500ms ease;
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      z-index: 999;

    }
  }
}

.header_top_area {
  background: #1e2126;

}

.header_top_area-inner {
  display: flex;
  justify-content: space-between;

  .pull-left {
    a {
      font-size: 13px;
      font-family: $open;
      color: $dw;
      line-height: 50px;
      margin-right: 60px;
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        background: #333;
        width: 1px;
        position: absolute;
        left: -30px;
        top: -1px;
        height: 100%;
      }

      img {
        height: 16px;
        fill: $dw;
        padding-right: 10px;
      }

      &:first-child {
        margin-left: 40px;

        &:before {
          left: -40px;
        }
      }

      &:last-child {
        margin-right: 0px;

        &:after {
          content: "";
          background: #333;
          width: 1px;
          position: absolute;
          right: -30px;
          top: -1px;
          height: 100%;
        }
      }
    }
  }
}

.header_social {
  display: flex;
  align-items: center;
  height: 100%;

  li {
    margin-right: 5px;

    a {
      padding: 10px;
      @include transition;

      img {
        height: 14px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      a {
        color: #00aced;
      }
    }
  }
}

.main_menu_area {
  background: transparent;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-bottom: 0px;
  border: none;
}


.navbar__logo {
  z-index: 5;
}

.navbar__brand img {
  max-width: 100%;
}


.navbar__phone{
  display: none;  
}

.navbar__nav-list>li {
  >a {
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    font-family: $mon;
    font-weight: bold;
    text-transform: uppercase;
    color: #d6d7d9;
    line-height: 50px;
    @include transition;
    background: transparent;
  }

  span {
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    font-family: $mon;
    font-weight: bold;
    text-transform: uppercase;
    color: #d6d7d9;
    line-height: 50px;
    @include transition;
  }

  &.active {
    >a {
      color: $baseColor;
    }
  }
}

.navbar__nav-list>li:hover {

  >a,
  span {
    color: $baseColor;
    cursor: pointer;
  }

  .dropdown {
    display: block;
  }

  &:last-child li {
    margin-right: 0;
    a{
      color: #d6d7d9;
    }

    &:hover {
      a {
        color: $baseColor;
      }

    }
  }
}

.dropdown {
  position: absolute;
  display: none;
  text-align: left;
  min-width: 200px;
  background-color: rgba(51, 51, 51, .9);
  margin-left: 15px;
  margin-top: -25px;
  max-height: 240px;
  overflow-y: scroll;
  padding-top: 10px;
  z-index: 5;
}
.dropdown li{
  margin-bottom: 10px;
}

.dropdown__link {
  padding: 10px 15px 0;
  font-size: 14px;
  font-family: $mon;
  font-weight: bold;
  text-transform: uppercase;
  color: #d6d7d9;
  line-height: 20px;
  z-index: 55;
  cursor: pointer;
  @include transition;
  background: transparent;
}

.navbar__burger {
  display: none;
  padding: 15px 10px;
  margin: 20px 15px;
  border: 1px solid $baseColor !important;
  border-radius: 0;
  background: transparent !important;
  z-index: 5;

  span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $baseColor;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: $baseColor;
      left: 0;
    }

    &::before {
      top: -6px;
    }

    &::after {
      top: 6px;
    }
  }
}

// .navbar__collapse-menu {
// }
.navbar__nav-list {
  display: flex;
  z-index: 5;
}

.navbar__nav-list li {
  list-style: none;
  margin-right: 28px;

  &.active {
    a {
      color: $baseColor;
    }
  }
}

.navbar__phone{
  display: block;
  max-width: 290px;
  padding-top: 10px;
  margin-left: auto;
  text-align: right;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    background-image: url(../img/icons/phone.png);
    width: 14px;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  a{
    color: #e8e8ee;
    &:hover{
      color: $baseColor;
    }
    span{
      padding: 0 10px;
    }      
  }
}

/* ====== media  ====  */

@media(max-width: 992px) {
  .header_top_area-inner {

    // display: none;
    .pull-left {
      a {
        margin-right: 30px;

        &:first-child {
          margin-left: 30px;
        }

        &:first-child::before {
          left: -20px;
        }

        &::before {
          left: -20px;
        }

        &:last-child::after {
          right: -20px;
        }
      }
    }
  }

  .navbar__burger {
    display: block;
  }

  .navbar__collapse-menu {
    display: block;
  }

  .navbar__nav-list {
    position: absolute;
    width: 100%;
    background-color: #1e2126;
    border-top: 1px solid #fff;
    left: 0;
    top: 53px;
    transition: all .5s;
    transform: translateY(-300px);

    li {
      margin-right: 0;
      padding: 10px 0 0;
    }
  }

  .navbar__nav-list.navbar__nav-list--active {
    display: block;
    transition: all .5s;
    transform: translateY(0px);
  }

  .navbar__nav-list li a {
    padding: 0 30px;
    line-height: 18px;
  }
  .navbar__nav-list>li span{
    line-height: 18px;
    padding: 0 30px;
  }

  .dropdown{
    margin-top: 0;
    width: 90%;
  }
  .dropdown li{
    margin-bottom: 0;
  }
}


@media(max-width: 768px) {
  .header_top_area {
    display: none;
  }

  .main_header_area::before {
    background-color: #000;
  }

  .main_menu_area {
    background-color: #1e2126;
  }

  .navbar__nav-list {
    top: 74px;
    display: none;
  }
}

@media(max-width: 480px) {
  .navbar-brand img {
    width: 70%;
    margin-left: -20px;
  }
}

// .icon-bar {
// }


// .navbar.navbar-default {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background: transparent;
//   margin-bottom: 0px;
//   border: none;

//   .nav.navbar-nav.navbar-right {
//     display: flex;

//     li {
//       margin-right: 28px;

//       a {
//         padding: 0px;
//         font-size: 14px;
//         font-family: $mon;
//         font-weight: bold;
//         text-transform: uppercase;
//         color: #d6d7d9;
//         line-height: 100px;
//         @include transition;
//         background: transparent;
//       }

// &.icon_search {
//   margin-right: 0px;

//   a {
//     position: relative;

//     &:before {
//       content: "02";
//       background: $baseColor;
//       height: 20px;
//       width: 20px;
//       border-radius: 50%;
//       color: #fff;
//       font-size: 10px;
//       position: absolute;
//       right: -14px;
//       top: 40%;
//       line-height: 21px;
//       transform: translateY(-50%);
//       font-weight: normal;
//       text-align: center;
//     }
//   }
// }

//         &:hover,
//         &.active {
//           a {
//             color: $baseColor;
//           }
//         }

//         &.submenu {
//           position: relative;

//           .dropdown-menu {
//             @media (min-width: 992px) {
//               position: absolute;
//               top: 100%;
//               left: -40px;
//               min-width: 232px;
//               background: #eeeeee;
//               text-align: left;
//               opacity: 0;
//               transition: all 300ms ease-in;
//               visibility: hidden;
//               display: block;
//               padding: 0px;
//               border: none;
//               border-radius: 0px;
//             }

//             &:before {
//               content: "";
//               width: 0;
//               height: 0;
//               border-style: solid;
//               border-width: 10px 10px 0 10px;
//               border-color: #eeeeee transparent transparent transparent;
//               position: absolute;
//               right: 24px;
//               top: 45px;
//               z-index: 3;
//               opacity: 0;
//               transition: all 400ms linear;
//             }

//             li {
//               display: block;
//               float: none;
//               margin-right: 0px;
//               border-bottom: 1px solid #cbcbcb;

//               a {
//                 line-height: 45px;
//                 color: #494848;
//                 font-family: $mon;
//                 font-weight: normal;
//                 font-size: 16px;
//                 padding: 0px 30px;
//                 text-transform: capitalize;
//                 @include transition;
//                 display: block;
//               }

//               &:last-child {
//                 border-bottom: none;
//               }

//               &:hover {
//                 a {
//                   background: $baseColor;
//                   color: #fff;
//                 }
//               }
//             }
//           }

//           &:hover {
//             .dropdown-menu {
//               @media (min-width: 992px) {
//                 left: 0px;
//                 visibility: visible;
//                 opacity: 1;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// .transparent_menu {
//   .navbar-toggle {
//     display: none;
//     padding: 15px 10px;
//     margin: 20px 15px;
//     border: 1px solid $baseColor !important;
//     border-radius: 0;
//     background: transparent !important;

//     .icon-bar {
//       display: block;
//       width: 22px;
//       height: 2px;
//       border-radius: 1px;
//       background-color: $baseColor;
//       position: relative;

//       &::before,
//       &::after {
//         content: "";
//         position: absolute;
//         width: 22px;
//         height: 2px;
//         border-radius: 1px;
//         background-color: $baseColor;
//         left: 0;
//       }

//       &::before {
//         top: -6px;
//       }

//       &::after {
//         top: 6px;
//       }
//     }
//   }

//   .main_menu_area {
//     background: transparent;

//     .navbar.navbar-default {
//       border-bottom: 1px solid rgba(186, 186, 186, .40);
//       border-radius: 0px;

//       .nav.navbar-nav.navbar-right {
//         li {
//           a {
//             color: #fff;
//           }

//           &:hover,
//           &.active {
//             >a {
//               color: $baseColor;
//             }
//           }
//         }
//       }
//     }
//   }

//   &+section,
//   &+div,
//   &+.row {
//     margin-top: 0px;
//   }
// }

// @media (max-width: 992px) {
//   .transparent_menu {
//     .navbar-toggle {
//       display: block;
//       text-align: right;
//     }
//   }

//   .main_menu_area {
//     .navbar.navbar-default {
//       .nav.navbar-nav.navbar-right {
//         display: none;
//       }
//     }
//   }
// }